.rmdb-header {
  height: 75px;
  background-color: #333333;
  display: flex;
  align-items: center;
}
.rmdb-header-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}
.rmdb-header-content img {
  height: 50px;
}
